<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hsbsoftwares.android.app.healthdiagnostic" >
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <activity android:name=".CameraActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".CameraActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hsbsoftwares.android.app.healthdiagnostic.CameraActivity" />
        </activity>
        <activity android:name=".listviewactivity.ListViewActivity" >
        </activity>
        <activity android:name=".statistics.StatisticsActivity" >
        </activity>
        <activity android:name=".statistics.webview.ChartNumberCrisisPerDay" >
        </activity>
        <activity android:name=".statistics.webview.ChartNumberCrisisPerMonth" >
        </activity>
        <activity android:name=".statistics.webview.ChartNumberCrisisPerYear" >
        </activity>
        <activity android:name=".statistics.webview.ChartNumberCrisisPerState" >
        </activity>
        <activity android:name=".listviewactivity.FullImageActivity" >
        </activity>
    </application>

</manifest>
